@charset "utf-8";
/* CSS Document */
.top{ width:100%;
	  height:50px;}
.top .right{ float:right;
			 margin-right:50px;
			 margin-top:10px;
			 }
.top a{ margin:20px;
		text-decoration:none;}
.top .left{ float:left;
			margin-left:50px;
			margin-top:10px;}

.center{ width:100%;
		  height:400px;
		  margin-top:25px;
		  border:1px solid #FFF;
		  position:relative;}

.center .B{ width:100%;
	  		 height:400px;}
.centerA{ width:1000px;
		  height:20px;
		  position:absolute;
		  left:25%;
		  top:30%;}
.centerA span{ font-size:40px;
			   color:#FFF;}
.centerB{ width:130px;
		  height:25px;
		  border:1px solid #F00;
		  position:absolute;
		  left:35%;
		  top:60%;
		  padding:20px;
		  background:#F00;}
.centerB span{ font-size:20px;
			   color:#FFF;}
.centerC{ width:130px;
		  height:25px;
		  border:1px solid #F00;
		  position:absolute;
		  left:50%;
		  top:60%;
		  padding:20px;
		  background:#F00;}
.centerC span{ font-size:20px;
			   color:#FFF;}
.down{ width:85%;
	   height:2550px;
	   border:1px solid #FFF;
	   position:absolute;
	   top:500px;
	   left:150px;}
.downL{ float:left;
		margin-top:30px}
.downL span{ font-size:25px;}
.downL p{ color:#666;
		  font-size:13px;}

.downR{ float:right;
		padding-bottom:10px;
		margin-top:-30px;}
.downR p{ color:#666;
		  border-left:3px solid #FF0000;
		  padding-left:10px;}
.downR a{ color:#F00;
		  text-decoration:none;}

.box{ width:43%;
	  height:400px;
	  border:1px solid #FFF;
	  position:absolute;
	  top:2850px;
	  left:150px}
.box .A{ float:left;
		 margin-top:-3px;}
.box span{ display:inline-block;}
.box .center dl{ text-align:center;}
.box .center img{ margin:0 auto;
				  margin-bottom:20px;
				  margin-left:20px;}
.box .center a:hover{ background:url(img/star-on.png) no-repeat;
					  }
.box .center p{ text-align:right;}
.box input{ float:right;
			clear:both;
			margin-top:20px;}
.box .C{ float:left;
		 padding-top:30px;}
.box textarea{ float:right;}
.box .D{ margin-top:120px;}

.foot{ width:100%;
	   height:100px;
	   background:#FFF;
	   position:absolute;
	   top:3350px;
	   background:#000;}
.foot p{ color:#FFF;
		 padding-top:30px;
		 padding-left:140px;}

.wt{ position:fixed;
	 right:22%;
	 bottom:5%;
 	 width:180px;
	 height:150px;}
.wt span{ font-size:20px;
		  color:#FFF;
		  border:1px solid #F00;
	 	  background:#F00;
		  padding:20px;}